@charset "utf-8";
body {
	font: 18px/1.4 Arial, Helvetica, sans-serif;
	background: #0099FF;
	margin: 10;
	padding: 0;
	color: #000;
}

h1 {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 8px;
	font-size: 22px;
}

a:link {
	color: #0000FF;
	text-decoration: underline;
}
a:visited {
	color: #0000FF;
	text-decoration: underline;
}

#socialni {
	text-align: center;
    margin: 10px;
}    
div .plusone, .twitter, .fb-like {
    font-size: 1px;
    display: inline-block;
}
div .fb_reset {
    display: inline;
}

#wrapper {
	border:solid;
	border-color:#FC3;
	text-align: left;
	margin: 0px auto;
	width: 966px;
	background: #fff;
}

#header {
	border:solid;
	border-width: 1px;
	border-color:#FC3;
	margin: 8px;
	background: #fff;
}

#content {
	margin: 0 5px 0 8px;
	float: left;
	width: 800px;
	background: #fff;
}

#side-a {
	margin: 0 5px 0 0;
	float: left;
	width: 140px;
	background: #fff;
	margin-top: 240px;
	text-align: center;
}

/*#side-b {
	float: left;
	width: 160px;
	background: #fff;
}*/

#teksta {
	border:solid;
	border-width: 1px;
	border-color:#FC3;
	margin: 8px;
	clear: both;
	background: #fff;
}

#vavteksta {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 8px;
	width: 790px;
}
/*#tablo {
	text-align: center;
    margin: 10px;
}*/

#dolu {
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
	padding-right: 8px;
}